
  <header>
      <nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#"><img src="/images/site-logo-white-70pct.png"></a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Sights</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Activities</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container-fluid">

        <section class="row">
          <div class="fill-screen fixed-attachment" style="background-image: url(../../images/lake-dark.jpg)">
            <img class="img-responsive title-image" src="/images/site-logo-white.png">
            <div class="down-button">
              <a class="button"><i class="fa fa-arrow-circle-down fa-4x"></i></a>
            </div>
          </div>
        </section>

        <section class="row text-banner">
          <h1>VISIT THE ROCKY MOUNTAINS</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </section>

        <section class="row">
          <div class="fill-screen fixed-attachment" style="background-image: url(../../images/elk.jpg)">
          </div>
        </section>

        <section class="row activity-section">
            <div class="activity-element col-md-4">
              <img src="../../images/map.png" />
              <h2>Orienteering</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="activity-element col-md-4">
              <img src="../../images/pic.png" />
              <h2>Rock Climbing</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="activity-element col-md-4">
              <img src="../../images/backpack.png" />
              <h2>Backpacking</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
        </section>

        <section class="row">
          <div class="fill-screen fixed-attachment" style="background-image: url(../../images/snowboarder.jpg)">
          </div>
        </section>

        <section class="row contact-us">
            <h1>CONTACT US</h1>
            <h3>Somewhere in Colorado</h3>
            <p>Lorem ipsum dolor sit amet</p>
            <p>Lorem ipsum dolor sit amet</p>
            <p>Lorem ipsum dolor sit amet</p>
        </section>
    </div>

  <footer class="container-fluid">
    <h1>FOOTER</h1>
  </footer>

  <!-- <script>
    $('#video-wallpaper').background({
      source: {
        poster: '/images/bikes.png',
        mp4: '/images/bikes.mp4'
        // ogg: '/images/bike.ogv',
        // webm: '/images/bike.webm',
        // video: '//www.youtube.com/embed/RNDOF3R7DuA'
      }
    })
  </script> -->
